<div class="div">
    <h1><span>JENNY</span>'s house</h1>

    <div class="container">
        <div class="drop" style="--clr: #fb6282;">
            <div class="content">
                <h2>Rooms</h2>
                <p>3</p>
            </div>
        </div>
        <div class="drop" style="--clr: #fc5594;">
            <div class="content">
                <h2>Flood Notifications</h2>
                <p>2</p>
            </div>
        </div>
        <div class="drop" style="--clr: #fe8a77;">
            <div class="content">
                <h2>Humidity & Temperature</h2>
                <p><span>23</span> / <span>23.5</span></p>
            </div>
        </div>
    </div>

    <div class="chart-container">
        <canvas id="MyChartBar">{{chart}}</canvas>
    </div>

    <!--<div class="chart-container">
        <canvas id="MyChartPie">{{chart2}}</canvas>
    </div>-->
   

</div>