<div *ngIf="!isLoading" class="div">
    <h1><span>DASHBOARD</span></h1>

    <div class="container">
        <div class="drop" style="--clr: #fb6282;">
            <div class="content">
                <h2>Rooms</h2>
                <p>{{ numberRooms }}</p>
            </div>
        </div>
        <div class="drop" style="--clr: #fc5594;">
            <div class="content">
                <h2>Flood Notifications</h2>
                <p>{{ floodNotification }}</p>
            </div>
        </div>
        <div class="drop" style="--clr: #fc5594;">
            <div class="content">
                <h2>Captor numbers</h2>
                <p>{{ dataOfCaptors }}</p>
            </div>
        </div>
        <div class="drop" style="--clr: #fe8a77;">
            <div class="content">
                <h2>Humidity & Temperature</h2>
                <p><span>{{ humidity }}</span> / <span>{{ temperature }}</span></p>
            </div>
        </div>
    </div>
    <!--<div class="charts">
        <div class="chart-container">
            <canvas id="MyChartBar">{{chart}}</canvas>
        </div>
    </div>-->
</div>
<div *ngIf="isLoading" class="spinner-container">
    <div class="spinner"></div>
    <p>Chargement en cours...</p>
</div>