<div class="background">
    <div class="container">
        <div class="left-bloc">
            <div class="absolute inset-0 justify-center">
                <div class="bg-shape1 bg-teal opacity-50 bg-blur"></div>
                <div class="bg-shape2 bg-primary opacity-50 bg-blur"></div>
                <div class="bg-shape1 bg-purple opacity-50 bg-blur"></div>
             </div>

            <div class="div">
                <h1>LET'S GO !</h1>
                <h1 style="text-transform: capitalize;"><span style="color: #f85a81;">Detect </span><span style="color: #fe747b;">any flood</span> signal <br>in your house</h1>
            </div>

            <div class="div">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, 
                    content here', making it look like readable English.
               </p>
            </div>

            <div class="div">
                <div class="flex gap-4 mt-1 btns">
                    <p-button label="Sign In" class="w-full btn" [outlined]="true" styleClass="w-full" routerLink="/signin"/>
                    <p-button label="Sign Up" class="w-full btn" styleClass="w-full" [routerLink]="'/signup'"/>
                </div>
            </div>
            
            
        </div>

        <div class="right-bloc">
            <img id="dog" src="assets/landing1.png" alt="Profile Picture" class="landingImg">
        </div>
    </div>
</div>
