.background {
    min-height: 100vh;
    width: 100vw;
    background: #f0f2f1;
    overflow: hidden;

    .landingImg {        
        object-fit: cover;
    }
}

.container {
    display: flex;
    justify-content: space-around;
}

#dog {
    width: 80%;
    display: block;
    margin: auto;
}

.left-bloc {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    z-index: 1;

    .div {
        z-index: 1;

        h1 {
            font-size: 4em;
            line-height: 1.2;
            text-align: center;
        }
    
        p {
            width: 500px;
            margin: auto;
            margin-top: 40px;
            letter-spacing: 1px;
            font-size: 16px;
            color: #333;
        }

        .btns {
   
            margin-top: 20px;
            display: flex;
            justify-content: center;

            .btn {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}

.right-bloc {
    width: 50%;
    z-index: 1;
}

